

/* FIX: proper stacking */
.expertise__stack {
  position: relative;
  width: 100%;
  height: 100%;
}

.expertise {
  margin-top: 30px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.expertise__panel {
 padding: 20px;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.card {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 40px;
  width: 100%;
  height: 100%;
}

.left__item {
  width: 100%;
  max-width: 22em;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}

.card-top__text{
  position: absolute;
  top: 50px;
  left: 40px;
  display: flex;
  flex-direction: column;
}

.card-bottom__text{
  width: 18em;
  position: absolute;
  bottom: 50px;
  left: 40px;
  display: flex;
  flex-direction: column;
}

.right__item {
  
  width: 100%;
  max-width: 22em;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}

.serial__number{
  font-weight: 600;
position: absolute;
font-size: 4em;
  top: 24px;
  right: 30px;
  color: rgba(235, 226, 226, 0.3);
}

.right__item video{
  position: absolute;
 border: 8px solid white;
 
 transform: rotate(3deg);
  bottom: 40px;
  right: 20px;
}

/* button section start */

.btn {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  padding: 3px;              /* extra space remove */
  width: fit-content;      /* যতটুকু দরকার ততটুকু width */
  
  font-size: 14px;
  font-weight: 500;

  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  transform: skewX(-8deg) rotate(-8deg);
}

/* OUTLINE STYLE */
.btn--outline {
  border: 1px solid #000;
  color: #000;
  background: transparent;
}

/* ICON CIRCLE */
.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border-radius: 8px;
  background: #000;
  color: #fff;

  transition: all 0.3s ease;
}

/* button section end */

.expertise__panel.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
  z-index: 2;
}


/* card layout */
.card {
  width: 100%;
  height: 100%;
  padding: 80px;
  position: relative;
}

/* video right bottom */
.card video {
  position: absolute;
  right: 60px;
  bottom: 60px;

  width: 24%;
  height: 44%;
  object-fit: cover;
  border-radius: 24px;
}